html {
  background-color: #fbd3fc;
  color: white;  
}

body {
  width: 100%;
  margin: auto;
  font-family: 'helvetica';
  background-color: #fbd3fc; 
}

header {
  text-align: center;
  padding: 1%;
  background-color: #fd8aff;
  font-family: 'helvetica';
  font-size: 2rem; 
}

.fa-shopping-cart{ 
color: #fbd3fc ; 
}



nav {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%; 
}


.btn {
  display: block;
  align-content: center;
  border: 2px solid white;
  border-radius: 20px;
  margin: 2%;
  width: 180px;
  height: 60px;
  font-size: 1.3em;
  background-color: rgb(255, 0, 166);
  color:white;
}





footer {
  display: block;
  text-align: center;
  padding: 1.5rem;
  background-color: #F3E9F1; 
}



.basket{
  font-size: 50px;
  color:#fbd3fc;
  text-decoration: none;
}
.acceuil{
  font-size: 50px;
  color:#fbd3fc;
  text-decoration: none;
}